# Core dependencies
streamlit==1.27.0
opencv-python==4.7.0.72
numpy==1.24.3
pandas==2.0.3
Pillow==10.0.0
PyYAML==6.0.1

# Deep learning & OCR
torch==2.0.1
torchvision==0.15.2
ultralytics==8.0.145
paddlepaddle==2.5.1
paddleocr==2.6.1.3

# Utilities
tqdm==4.65.0
python-Levenshtein==0.21.0
difflib
matplotlib==3.7.2
scipy==1.11.1